<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <resolve translate="label" module="resolve">
                    <label>Resolve</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <version translate="label">
                            <label>Extension Version</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Resolve_Resolve_Block_Adminhtml_Version</frontend_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </version>
                        <account_mode translate="label">
                            <label>Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>resolve/source_accountMode</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </account_mode>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <api_key_sandbox translate="label">
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <account_mode>sandbox</account_mode>
                            </depends>
                        </api_key_sandbox>
                        <secret_key_sandbox translate="label">
                            <label>Secret API Key</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <comment>sandbox key</comment>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <account_mode>sandbox</account_mode>
                            </depends>
                        </secret_key_sandbox>
                        <api_key_production translate="label">
                            <label>Public API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <account_mode>production</account_mode>
                            </depends>
                        </api_key_production>
                        <secret_key_production translate="label">
                            <label>Secret API Key</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <comment>production key</comment>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <account_mode>production</account_mode>
                            </depends>
                        </secret_key_production>
                        <payment_action translate="label">
                            <label>Payment Action</label>
                            <frontend_type>select</frontend_type>
                            <source_model>resolve/source_paymentAction</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_action>
                        <min_order_total translate="label">
                            <label>Minimum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>180</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min_order_total>
                        <max_order_total translate="label">
                            <label>Maximum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>190</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_order_total>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_class>validate-number</frontend_class>
                        </sort_order>
                        <disable_for_backordered_items translate="label">
                            <label>Disable for backordered items</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>201</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </disable_for_backordered_items>
                        <plain_text_title_enabled translate="label">
                            <label>Plain Text Appearance</label>
                            <comment>controls the appearance of the payment
                                option at checkout
                            </comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>214</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>0</show_in_store>
                            <show_in_website>1</show_in_website>
                        </plain_text_title_enabled>
                        <label_html_custom translate="label">
                            <label>Resolve Payment Method HTML</label>
                            <comment>custom label html text</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>215</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>0</show_in_store>
                            <show_in_website>1</show_in_website>
                            <depends>
                                <plain_text_title_enabled>0</plain_text_title_enabled>
                            </depends>
                        </label_html_custom>
                    </fields>
                </resolve>
            </groups>
        </payment>
    </sections>
</config>