<?xml version="1.0"?>
<!--
  ~ /*
  ~  * BSD 3-Clause License
  ~  *
  ~  * Copyright (c) 2018, Resolve
  ~  * All rights reserved.
  ~  *
  ~  * Redistribution and use in source and binary forms, with or without
  ~  * modification, are permitted provided that the following conditions are met:
  ~  *
  ~  *  Redistributions of source code must retain the above copyright notice, this
  ~  *   list of conditions and the following disclaimer.
  ~  *
  ~  *  Redistributions in binary form must reproduce the above copyright notice,
  ~  *   this list of conditions and the following disclaimer in the documentation
  ~  *   and/or other materials provided with the distribution.
  ~  *
  ~  *  Neither the name of the copyright holder nor the names of its
  ~  *   contributors may be used to endorse or promote products derived from
  ~  *   this software without specific prior written permission.
  ~  *
  ~  * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  ~  * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  ~  * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
  ~  * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
  ~  * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
  ~  * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
  ~  * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
  ~  * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
  ~  * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  ~  * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  ~  */
  -->

<config>
    <sections>
        <payment>
            <groups>
                <resolve translate="label" module="resolve">
                    <label>Resolve</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <version translate="label">
                            <label>Extension Version</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Resolve_Resolve_Block_Adminhtml_Version</frontend_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </version>
                        <account_mode translate="label">
                            <label>Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>resolve/source_accountMode</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </account_mode>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <api_key_sandbox translate="label">
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <account_mode>sandbox</account_mode>
                            </depends>
                        </api_key_sandbox>
                        <secret_key_sandbox translate="label">
                            <label>Private API Key</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <account_mode>sandbox</account_mode>
                            </depends>
                        </secret_key_sandbox>
                        <api_key_production translate="label">
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <account_mode>production</account_mode>
                            </depends>
                        </api_key_production>
                        <secret_key_production translate="label">
                            <label>Private API Key</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <account_mode>production</account_mode>
                            </depends>
                        </secret_key_production>
                        <payment_action translate="label">
                            <label>Payment Action</label>
                            <frontend_type>select</frontend_type>
                            <source_model>resolve/source_paymentAction</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_action>
                        <min_order_total translate="label">
                            <label>Minimum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>180</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min_order_total>
                        <max_order_total translate="label">
                            <label>Maximum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>190</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_order_total>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_class>validate-number</frontend_class>
                        </sort_order>
                        <disable_for_backordered_items translate="label">
                            <label>Disable for backordered items</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>201</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </disable_for_backordered_items>
                        <plain_text_title_enabled translate="label">
                            <label>Plain Text Appearance</label>
                            <comment>controls the appearance of the payment
                                option at checkout
                            </comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>214</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>0</show_in_store>
                            <show_in_website>1</show_in_website>
                        </plain_text_title_enabled>
                        <label_html_custom translate="label">
                            <label>Resolve Payment Method HTML</label>
                            <comment>custom label html text</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>215</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>0</show_in_store>
                            <show_in_website>1</show_in_website>
                            <depends>
                                <plain_text_title_enabled>0</plain_text_title_enabled>
                            </depends>
                        </label_html_custom>
                        <plain_text_description_enabled translate="label">
                            <label>Plain Description Text Appearance</label>
                            <comment>controls the appearance of the payment
                                option at checkout
                            </comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>219</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>0</show_in_store>
                            <show_in_website>1</show_in_website>
                        </plain_text_description_enabled>
                        <description_html_custom translate="label">
                            <label>Resolve Payment Method Description HTML</label>
                            <comment>custom description html text</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>0</show_in_store>
                            <show_in_website>1</show_in_website>
                            <depends>
                                <plain_text_description_enabled>0</plain_text_description_enabled>
                            </depends>
                        </description_html_custom>
                        <!--<checkout_button_active translate="label">-->
                            <!--<label>Enabled Checkout Button</label>-->
                            <!--<frontend_type>select</frontend_type>-->
                            <!--<source_model>adminhtml/system_config_source_yesno</source_model>-->
                            <!--<sort_order>220</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>0</show_in_store>-->
                        <!--</checkout_button_active>-->
                        <!--<checkout_button_code translate="label">-->
                            <!--<label>Checkout Button Code</label>-->
                            <!--<comment>-->
                                <!--<![CDATA[Copy button url from http://help.merchants.resolve.com/article/65-checkout-buttons, please start with http://]]></comment>-->
                            <!--<frontend_type>textarea</frontend_type>-->
                            <!--<sort_order>225</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>0</show_in_store>-->
                            <!--<depends>-->
                                <!--<checkout_button_active>1</checkout_button_active>-->
                            <!--</depends>-->
                        <!--</checkout_button_code>-->
                        <!--<checkout_flow_type translate="label">-->
                            <!--<label>Checkout Flow Type (Beta)</label>-->
                            <!--<comment>-->
                                <!--<![CDATA[Checkout flow using redirect or modal]]></comment>-->
                            <!--<frontend_type>select</frontend_type>-->
                            <!--<source_model>resolve/source_paymentCheckoutFlow</source_model>-->
                            <!--<sort_order>230</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>0</show_in_store>-->
                            <!--<tooltip>Modal checkout flow is currently in beta. After enabling this, if you encounter any issues with the checkout flow, reach out to Resolve.</tooltip>-->
                        <!--</checkout_flow_type>-->
                        <detect_xhr_checkout translate="label">
                            <label>Checkout uses xhr</label>
                            <comment>
                                <![CDATA[Only applicable with Redirect checkout flow type. Use 'Checkout uses redirect' option only when checkout use non-js 'place order' call on the last step.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>resolve/source_paymentCheckoutXhr</source_model>
                            <sort_order>235</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </detect_xhr_checkout>
                        <pre_order translate="label">
                            <comment>Only applicable with Redirect checkout flow type. Enable for an improved order management experience. Disable if there are
                                compatibility issues.
                            </comment>
                            <label>Create orders after Resolve confirmation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>240</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pre_order>
                        <heading_notification translate="label">
                            <label>Notification</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>245</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </heading_notification>
                        <notification_update translate="label">
                            <label>I'd like to be informed about Resolve extension updates</label>
                            <comment><![CDATA[]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>250</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </notification_update>
                    </fields>
                </resolve>
            </groups>
        </payment>
    </sections>
</config>