<?xml version="1.0"?>
<config>
    <modules>
        <Resolve_Resolve>
            <version>1.0.0.0</version>
        </Resolve_Resolve>
    </modules>

    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <custom_field_one>
                    <to_order_payment>*</to_order_payment>
                </custom_field_one>
                <custom_field_two>
                    <to_order_payment>*</to_order_payment>
                </custom_field_two>
            </sales_convert_quote_payment>
        </fieldsets>

        <helpers>
            <resolve>
                <class>Resolve_Resolve_Helper</class>
            </resolve>
        </helpers>
        <blocks>
            <resolve>
                <class>Resolve_Resolve_Block</class>
            </resolve>
        </blocks>

        <models>
            <resolve>
                <class>Resolve_Resolve_Model</class>
            </resolve>
        </models>

        <resources>
            <resolve_setup>
                <setup>
                    <module>Resolve_Resolve</module>
                </setup>
            </resolve_setup>
        </resources>
        <!-- <events>
            <sales_order_save_after>
                <observers>
                    <resolve>
                        <class>resolve/observer</class>
                        <method>exportOrder</method>
                    </resolve>
                </observers>
            </sales_order_save_after>
        </events> -->

    </global>
    <!-- <adminhtml>
        <sales_order_save_after>
            <observers>
                <watchorderstatus>
                    <type>singleton</type>
                    <class>resolve/observer</class>
                    <method>checkCancelled</method>
                </watchorderstatus>
            </observers>
        </sales_order_save_after>
    </events> 
  </adminhtml> -->
    <default>
        <payment>
            <resolve>
                <active>1</active>
                <model>resolve/paymentmethod</model>
                <order_status>pending</order_status>
                <title>Resolve</title>
                <allowspecific>0</allowspecific>
                <group>online</group>
                <account_mode>sandbox</account_mode>
                <pre_order>1</pre_order>
                <label_html_custom>test</label_html_custom>
                <checkout_button_active>0</checkout_button_active>
                <checkout_button_code>test</checkout_button_code>
                <payment_action>authorize</payment_action>
                <api_key_sandbox />
                <secret_key_sandbox backend_model="adminhtml/system_config_backend_encrypted"/>
                <api_key_production />
                <secret_key_production backend_model="adminhtml/system_config_backend_encrypted"/>
                <line_items_enabled>1</line_items_enabled>
                <visible_on_cart>1</visible_on_cart>
                <visible_on_product>1</visible_on_product>
                <currency>USD</currency>
                <min_order_total>0.01</min_order_total>
                <max_order_total>50000</max_order_total>
                <disable_for_backordered_items>0</disable_for_backordered_items>
                <plain_text_title_enabled>0</plain_text_title_enabled>
                <allowspecific>1</allowspecific>
                <specificcountry>US</specificcountry>
            </resolve>
        </payment>
    </default>

    <frontend>
        <layout>
            <updates>
                <resolve>
                    <file>resolve/resolve.xml</file>
                </resolve>
            </updates>
        </layout>
        <routers>
            <resolve>
                <use>standard</use>
                <args>
                    <module>Resolve_Resolve</module>
                    <frontName>resolve</frontName>
                </args>
            </resolve>
        </routers>
    </frontend>
</config>